<div [style.display]="isMapPanelOpen ? 'block' : 'none'" [@inOutAnimation] id="map-container" class="map-container">
  <img class="map-image" id="map-image" [src]="currentFloorMap" alt="Map of the current floor.">
  <mat-icon (click)="toggleMapPanel()" class="close-icon">close</mat-icon>
</div>
<div class="button-container" [@showMapIcon] *ngIf="!isMapPanelOpen">
  <mat-icon (click)="toggleMapPanel()" class="map-icon">map</mat-icon>
</div>
<div class="button-container floor" [@showMapIcon] *ngIf="!isFloorPanelOpen">
  <mat-icon (click)="toggleFloorPanel()" class="floor-icon">elevator</mat-icon>
</div>
<div class="floor-container floor" [@inOutAnimation] id="floor-container" *ngIf="isFloorPanelOpen">
  <h1 class="floor-text">Choose floor:</h1>
  <div>
    <button mat-raised-button (click)="changeFloor(0)" class="floor-button" disabled>0</button>
    <button mat-raised-button (click)="changeFloor(1)" class="floor-button">1</button>
    <button mat-raised-button (click)="changeFloor(2)" class="floor-button">2</button>
    <button mat-raised-button (click)="changeFloor(3)" class="floor-button">3</button>
    <mat-icon (click)="toggleFloorPanel()" class="floor-close-icon">close</mat-icon>
  </div>
</div>
