.hover-test:hover {
  opacity: 1;
}

.hover-test {
  opacity: 0;
}

.map-image {
  max-width: 1000px;
  height: auto;
  border-radius: 12px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.map-icon {
  color: #DB1C23;
  font-size: 42px;
  height: auto;
  width: auto;
}

.map-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
  padding: 2px
}

.map-button-container:hover {
  cursor: pointer;
}

.map-container {
  padding-top: 8px;
}

