<div class="exit-container">
	<button mat-raised-button color="warn" class="exit-button" routerLink="/" routerLinkActive="active">{{'common.exitVirtualTour' | translate}}</button>
</div>
<div *ngIf="showControls" [@inOutAnimation] class="controls-container">
    <h1 class="controls-header">{{'ui.howToUse' | translate}}</h1>
    <div class="controls-item">
        <img class="controls-item-image" src="assets/icons/left-click-move.png"/>
        <h2 class="controls-item-text controls-text-left">{{'ui.lookAroundGuide' | translate}}</h2>
    </div>
    <div class="controls-item">
        <h2 class="controls-item-text controls-text-right">{{'ui.zoomInGuide' | translate}}</h2>
        <img class="controls-item-image" src="assets/icons/zoom.png"/>
    </div>
    <div class="controls-item">
        <img class="controls-item-image" src="assets/icons/left-click.png"/>
        <h2 class="controls-item-text controls-text-left">{{'ui.moveToRoomGuide' | translate}}</h2>
    </div>
    <button class="controls-button" mat-flat-button color="warn" (click)="closeControlDialog()">{{'ui.gotIt' | translate}}</button>
</div>
<div class="zoom-container">
    <div class="panoNavButton" (click)="zoomIn()" id="zoom-in">
        <img src="assets/icons/icons8-zoom-in-48.png" alt="Zoom in"/>
    </div>
    <div class="panoNavButton" (click)="zoomOut()" id="zoom-out">
        <img src="assets/icons/icons8-zoom-out-48.png" alt="Zoom out"/>
    </div>
</div>
<div class="looking">
    <div class="panoNavButton" (click)="rotateLeftRight(1)" id="left">
        <img src="assets/icons/icons8-go-back-48 (1).png" alt="Look left"/>
    </div>
    <div class="panoNavButton" (click)="rotateLeftRight(0)" id="right">
        <img src="assets/icons/icons8-circled-right-48.png" alt="Look right"/>
    </div>
    <div class="panoNavButton" (click)="rotateUpDown(1)" id="up">
        <img src="assets/icons/icons8-upward-arrow-48 (1).png" alt="Look up"/>
    </div>
    <div class="panoNavButton" (click)="rotateUpDown(0)" id="down">
        <img src="assets/icons/icons8-below-48.png" alt="Look down"/>
    </div>
</div>
<div class="map-container">
    <app-map [currentBuilding]="building" [currentFloor]="currentFloor" (floorChange)="changeFloor($event)" [selectedRoom]="room"></app-map>
</div>
<div [ngSwitch]="currentFloor">
  <app-tolstoi-first-floor *ngSwitchCase="1" class="ff" [goToRoom]="roomToNavigateTo" (tourViewer)="getViewer($event)" (requestFloorChange)="changeFloor($event)" (roomMessage)="readRoomName($event)"></app-tolstoi-first-floor>
  <app-tolstoi-second-floor *ngSwitchCase="2" [goToRoom]="roomToNavigateTo" (tourViewer)="getViewer($event)" (requestFloorChange)="changeFloor($event)" (roomMessage)="readRoomName($event)"></app-tolstoi-second-floor>
  <app-tolstoi-third-floor *ngSwitchCase="3" [goToRoom]="roomToNavigateTo" (tourViewer)="getViewer($event)" (requestFloorChange)="changeFloor($event)" (roomMessage)="readRoomName($event)"></app-tolstoi-third-floor>
  <app-tolstoi-basement *ngSwitchCase="4" [goToRoom]="roomToNavigateTo" (tourViewer)="getViewer($event)" (requestFloorChange)="changeFloor($event)" (roomMessage)="readRoomName($event)"></app-tolstoi-basement>
</div>
