<div class="header">
  <div>
    <button *ngIf="showBuildingPicker" [@inOutAnimation] mat-icon-button class="back-button" (click)="toggleView()">
      <mat-icon class="back-icon">arrow_back_ios</mat-icon>
    </button>
  </div>
  <div class="language-picker" (click)="toggleLanguage()">
    <h2 class="language-text">{{'common.currentLanguage' | translate}}</h2>
    <mat-icon class="language-icon">language</mat-icon>
  </div>
</div>

<div *ngIf="!showBuildingPicker" [@inOutAnimation] class="main-menu">
  <img class="logo" src="/assets/pallas-logo.jpg" />
  <button mat-button class="menu-button">{{'menu.enrollment' | translate}}</button>
  <button mat-button class="menu-button">{{'menu.studies' | translate}}</button>
  <button mat-button class="menu-button" (click)="toggleView()">{{'menu.virtualTour' | translate}}</button>
</div>
<div *ngIf="showBuildingPicker" [@inOutAnimation] class="building-picker">
  <h1 class="title-text">{{'ui.chooseBuilding' | translate}}</h1>
  <div class="building-choice">
    <mat-card class="building-card">
      <mat-card-title>{{'ui.tolstoi' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'ui.mainBuildingSubtitle' | translate}}</mat-card-subtitle>
      <img mat-card-image class="card-image" src="assets/tolstoi-cover-1.jpg" alt="Pallase kunstikooli Tolstoi hoone">
      <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="/tolstoi" routerLinkActive="active">{{'common.enter'
          | translate | uppercase}}</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="building-card">
      <mat-card-title>{{'ui.secondBuilding' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'ui.secondaryBuildingSubtitle' | translate}}</mat-card-subtitle>
      <img mat-card-image class="card-image" src="assets/temp-cover-1.jpg" alt="Pallase kunstikooli 2. hoone">
      <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="/tolstoi2" routerLinkActive="active">{{'common.enter' | translate | uppercase}}</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="building-card">
      <mat-card-title>{{'ui.thirdBuilding' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'ui.secondaryBuildingSubtitle' | translate}}</mat-card-subtitle>
      <img mat-card-image class="card-image" src="assets/temp-cover-2.jpg" alt="Pallase kunstikooli 3. hoone">
      <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="/tolstoi3" routerLinkActive="active">{{'common.enter' | translate | uppercase}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
