@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.language-picker {
    margin-top: 2vh;
    margin-right: 20vw;
    margin-bottom: 28vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.language-picker:hover {
    cursor: pointer;
}

.language-text {
    margin-bottom: 0px;
    margin-right: 3px;
    font-weight: 500;
}

.language-icon {
    color: #DB1C23;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15vw;
    height: auto;
    margin-bottom: 5px;
}

.menu-button {
    font-size: 18px;
}

.building-card {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 400px;
}

.building-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.building-choice {
    display: flex;
    flex-direction: row;
    align-self: center;
}
  
.title-text {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}
